[submodule "networkx"]
	path = mrv/ext/networkx
	url = git://gitorious.org/~byron/networkx/mrv-networkx.git
[submodule "pydot"]
	path = mrv/ext/pydot
	url = git://gitorious.org/~byron/pydot/mrv-mainline.git
[submodule "pyparsing"]
	path = mrv/ext/pyparsing
	url = git://gitorious.org/~byron/pyparsing/mrv-mainline.git
