
# if some of the following gets included, check the tests and fixtures as 
# they have to be included as well

graft mrv/maya
prune mrv/automation 
prune maya/automation
exclude mrv/dge.py 
exclude mrv/dgfe.py 
exclude mrv/batch.py 
exclude mrv/mdp.py
exclude mrv/conf.py

graft mrv/test
prune mrv/test/automation
prune mrv/test/maya/automation
exclude mrv/test/test_conf.py 
exclude mrv/test/test_dge.py 
exclude mrv/test/test_dgfe.py 
exclude mrv/test/test_batch.py 
exclude mrv/test/test_mdp.py
exclude mrv/maya/ui/qa.py

graft mrv/test/fixtures
prune mrv/test/fixtures/ma/huge

# excluded as long conf.py is excluded
prune mrv/test/fixtures/*ini*
prune mrv/test/fixtures/*INI*

graft mrv/bin
graft mrv/test/bin
recursive-include doc *.py makedoc
graft mrv/doc/source
prune mrv/doc/source/generated

include AUTHORS

graft mrv/ext
prune mrv/ext/networkx/.git
prune mrv/ext/pydot/.git
prune mrv/ext/pyparsing/.git


global-exclude .git*
global-exclude *.pyc
